.logo {
  padding-bottom: 2rem;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  color: #f0f0f0;
  text-shadow: 0px 0px 10px var(--bs-indigo), 0px 0px 20px var(--bs-indigo),
    0px 0px 40px var(--bs-indigo);
  width: fit-content;

  strong {
    font-weight: 300;
    margin-left: 0;
    padding: 0;
    font-size: 1.25rem;
  }
}

.logo:hover {
  cursor: pointer;
  animation: logoAnimation 1s;
  animation-timing-function: cubic-bezier(0.9, 0, 0.9, 0.5);
}

@keyframes logoAnimation {
  0% {
    color: var(--bs-dark);
  }
  10% {
    color: #f0f0f0;
    text-shadow: 0px 0px 10px var(--bs-indigo) 0px 0px 20px var(--bs-indigo),
      0px 0px 40px var(--bs-indigo);
  }
  20% {
    color: var(--bs-dark);
  }
  30% {
    color: #f0f0f0;
    text-shadow: 0px 0px 10px var(--bs-indigo) 0px 0px 20px var(--bs-indigo),
      0px 0px 40px var(--bs-indigo);
  }
  40% {
    color: var(--bs-dark);
  }
  100% {
    color: #f0f0f0;
    text-shadow: 0px 0px 10px var(--bs-indigo), 0px 0px 20px var(--bs-indigo),
      0px 0px 40px var(--bs-indigo);
  }
}
