:root {
  --bs-indigo: #076ddd;
  color: var(--bs-white);
}

main {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  max-height: 100vh;
}

p,
span {
  font-family: "Poppins", serif;
  font-weight: 100;
  letter-spacing: 2px;
  font-style: normal;
}

h1,
h2 {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

h3,
h4,
h5 {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

//Estilização da scrollbar
::-webkit-scrollbar {
  display: none;
}

//Responsividade do texto
@import "bootstrap/scss/bootstrap";

html {
  font-size: 1rem;
}

@include media-breakpoint-up(xs) {
  html {
    font-size: 0.4rem;
  }
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 0.6rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 0.8rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 0.9rem;
  }
}
